@import url('https://fonts.googleapis.com/css?family=Abel')

$gutter = 10px

above(size)
  @media (min-width: size)
    {block}

button()
  color inherit
  font inherit
  font inherit
  -webkit-appearance none
  outline none
  border 1px solid #eee
  padding $gutter
  background #fafafa
  cursor pointer

*
  margin 0
  padding 0
  box-sizing border-box

body
  background #f6f6f6
  color #444
  font-family 'Abel', sans-serif
  font-size 16px

a
  color inherit
  text-decoration none

.app
  width 100%
  margin 60px auto 0 auto
  max-width 1200px

.header
  position fixed
  top 0
  left 0
  width 100%
  height 60px
  box-shadow 0 0 5px rgba(0, 0, 0, 0.2);
  background #fff
  padding $gutter
  display flex
  &--cart-container
    flex 1
    display flex
    align-items center
  &--search-container
    display flex
    justify-content flex-end
  &--search
    button()
    text-align right
  &--search-button
    button()
    border-left none

.book-list
  &--results
    display flex
    flex-wrap wrap
    list-style none
    padding $gutter
  &--more
    button()
    width 100%
    background #fff

.book-list-item
  width 100%
  padding $gutter
  display flex
  +above(450px)
    width 50%
  +above(800px)
    width 33.33%
  +above(1200px)
    width 25%
  &--thumbnail
    flex 2
    padding-right $gutter
    img
      width 100%
  &--info
    flex 3
  button
    button()

.book-details
  padding $gutter
  display flex
  flex-direction column
  &--thumbnail
    align-self center
  &--description
    p
      margin 1rem 0
    ul
      list-style disc
      margin-left $gutter*2
  button
    button()
    background #fff

.cart
  display flex
  flex-direction column
  padding ($gutter/2)
  &--item
    padding ($gutter/2)
    display flex
    img
      height 100px
  &--item-info
    padding-left $gutter
    flex 1
    display flex
    flex-direction column
  &--item-title
    flex 1
  &--item-remove
    button()
    background #fff
